<footer class="footer">
  <a href="https://www.instagram.com/la.parcelle.des.reves/" target="_blank"><i class="fa-brands fa-instagram" style="color: #1F2F40"></i></a>
  <p><%= link_to "CGV - Mentions Légales", mentions_path %> <br> &copy Amélie Barbedienne et Catherine Barbedienne</p>
</footer>
