<div class="background-home">
  <div class="overlay-text">
    <h2>La Parcelle des Rêves - Amélie et Catherine Barbedienne</h2>
    <h1><%= link_to "Bienvenue", page_daccueil_path %></h1>
    </div>
</div>
