<div class="p-5">
  <h2>Conditions générales de ventes</h2><br>
    <ol>
      <li>Informations sur le vendeur :</li>
        <ul>
          <li>Amélie Barbedienne, entrepreneur individuel, situé au 8 rue Barthel, 77000 Melun, SIRET: 94308572000010, non soumis à la TVA, coordonnées de contact: barbedienne.amelie@gmail.com.</li>
          <li>Catherine Barbedienne, entrepreneur individuel, situé au 5 rue saint Louis, 77000 Melun, SIRET: 94303736600011, coordonnées de contact; cath.barbedienne@gmail.com.</li>
        </ul>
      <li>Caractéristiques des produits ou services :</li>
        <ul>
          <li>Vente d'œuvres artistiques uniques et originales, prestations artistiques (ateliers, séance photographiques).</li>
        </ul>
      <li>Prix :</li>
        <ul>
          <li>Indication claire des prix en euros, toutes taxes comprises (TTC), incluant les frais annexes éventuels (livraison, emballage, etc.).</li>
        </ul>
      <li>Commande :</li>
        <ul>
          <li>Processus de passation de commande, confirmation, modification ou annulation, ainsi que les moyens techniques pour identifier et corriger les erreurs éventuelles.</li>
        </ul>
      <li>Modalités de paiement :</li>
        <ul>
          <li>Moyens de paiement acceptés : virement bancaire suite à une prise de contact par mail.</li>
        </ul>
      <li>Livraison :</li>
        <ul>
          <li>Délais, modes et frais de livraison, zones géographiques desservies, transfert de risque, et procédures en cas de retard ou de perte.</li>
        </ul>
      <li>Droit de rétractation :</li>
        <ul>
          <li>Délai légal de 14 jours, modalités d'exercice: contact par mail, procédures de retour et de remboursement: retour à la charge du client, remboursement par virement bancaire une fois le produit récupéré.</li>
        </ul>
      <li>Garanties légales :</li>
        <ul>
          <li>Rappel des garanties légales de conformité et des vices cachés, droits du consommateur, et modalités de mise en œuvre.</li>
        </ul>
      <li>Responsabilité :</li>
        <ul>
          <li>Si livraison et non remise en main propre, le vendeur ne saurait être tenu responsable des dommages causés lors du transport.</li>
        </ul>
      <li>Propriété intellectuelle :</li>
        <ul>
          <li>L’ensemble des contenus présents sur le site https://www.xn--laparcelledesrves-6tb.com/ (textes, images, vidéos, logos, etc.) est protégé par le droit de la propriété intellectuelle. Toute reproduction ou représentation totale ou partielle est interdite sans l’autorisation écrite de l’éditeur du site.</li>
        </ul>
      <li>Données personnelles :</li>
        <ul>
          <li>Collecte, utilisation, protection des données personnelles des clients, droits d'accès, de rectification et d'opposition, conformément au Règlement Général sur la Protection des Données (RGPD).</li>
        </ul>
      <li>Médiation et litiges :</li>
        <ul>
          <li>Possibilité pour le consommateur de recourir à un médiateur en cas de litige, et juridiction compétente en cas de contentieux.</li>
        </ul>
      <li>Droit applicable :</li>
        <ul>
          <li>CGV  soumises au droit français.</li>
        </ul>
    </ol>

  <h2>Mentions légales</h2>
    <ol>
      <li>Éditeur du site</li>
        <p>Le présent site, accessible à l'adresse https://www.xn--laparcelledesrves-6tb.com/, est édité par :</p>
        <ul>
          <li>Dénomination sociale : Amélie Barbedienne EI et Catherine Barbedien EI.</li>
          <li>Forme juridique : Micro-Entreprises</li>
          <li>Siège social :</li>
            <ul>
              <li>Amélie Barbedienne EI: 8, rue Barthel, 77000 Melun</li>
              <li>Catherine Barbedienne EI: 5, rue saint Louis, 77000 Melun</li>
            </ul>
          <li>Numéro d’immatriculation : </li>
            <ul>
              <li>Amélie Barbedienne: SIRET: 94308572000010</li>
              <li>Catherine Barbedienne: SIRET: 94303736600011</li>
            </ul>
          <li>Numéro de TVA intracommunautaire : non soumis à la TVA.</li>
          <li>Directeur de publication : Amélie Barbedienne EI et Catherine Barbedienne EI.</li>
          <li>Contact : laparcellesdesreves.art@gmail.com</li>
        </ul>
      <li>Hébergement du site</li>
        <p>Le site est hébergé par :</p>
        <ul>
          <li>Nom de l’hébergeur : Wix, nom de domaine OVH</li>
          <li>Adresse : [Adresse complète de l’hébergeur]</li>
          <li>Téléphone : [Numéro de contact de l’hébergeur]</li>
        </ul>
      <li>Propriété intellectuelle</li>
        <p>L’ensemble des contenus présents sur le site https://www.xn--laparcelledesrves-6tb.com/ (textes, images, vidéos, logos, etc.) est protégé par le droit de la propriété intellectuelle. Toute reproduction ou représentation totale ou partielle est interdite sans l’autorisation écrite de l’éditeur du site.</p>
      <li>Données personnelles et cookies</li>
        <p>Le site collecte certaines données personnelles des utilisateurs. Conformément au Règlement Général sur la Protection des Données (RGPD), les visiteurs disposent d’un droit d’accès, de rectification et de suppression de leurs données personnelles.</p>
        <ul>
          <li>Finalité des données collectées : Gestion des commandes, newsletters.</li>
          <li>Responsable du traitement : Amélie Barbedienne EI et Catherine Barbedienne EI.</li>
          <li>Droit d’accès et de rectification : Vous pouvez exercer ces droits en envoyant un email à laparcellesdesreves.art@gmail.com</li>
          <li>Utilisation des cookies : Le site utilise des cookies pour améliorer l’expérience utilisateur. Vous pouvez les accepter ou les refuser via les paramètres de votre navigateur.</li>
        </ul>
      <li>Responsabilité</li>
        <p>L’éditeur du site ne saurait être tenu responsable des dommages directs ou indirects résultant de l’utilisation du site ou des informations qui y sont diffusées.</p>
      <li>Droit applicable</li>
        <p>Les présentes mentions légales sont soumises au droit français. En cas de litige, les tribunaux compétents seront ceux du siège social de l’éditeur.</p>
    </ol>


</div>
